<div class="container mx-auto px-4 py-8">
  <h2
    class="tw-py-5 tw-px-6 tw-text-2xl tw-font-bold tw-leading-7 tw-text-gray-900 sm:tw-truncate sm:tw-text-3xl sm:tw-tracking-tight"
  >
    Upcoming Events
  </h2>
  <p
    class="tw-px-6 tw-mt-1 tw-truncate tw-text-xs tw-leading-5 tw-text-gray-500"
  >
    Select an event below to view more
  </p>
  <div class="flex row tw-px-6">
    <mat-list class="col">
      <div class="tw-divide-y tw-divide-gray-100">
        @for (event of upcomingEvents$ | async; track event) {
        <mat-list-item class="py-5" (click)="selectEvent(event)">
          <div class="tw-flex tw-justify-between tw-cursor-pointer">
            <div class="flex min-w-0 gap-x-4">
              <div class="tw-min-w-0 tw-flex-auto">
                <p
                  class="tw-text-sm tw-font-semibold tw-leading-6 tw-text-gray-900"
                >
                  {{ event.title }}
                </p>
                <p
                  class="tw-mt-1 tw-truncate tw-text-xs tw-leading-5 tw-text-gray-500"
                >
                  {{ event.date | date : "mediumDate" }}
                </p>
              </div>
            </div>
          </div>
        </mat-list-item>
        }
      </div>
    </mat-list>
    @if (selectedEvent) {
    <mat-card class="col-7">
      <mat-card-header>
        <mat-card-title>{{ selectedEvent.title }}</mat-card-title>
        <mat-card-subtitle>{{
          selectedEvent.date | date : "mediumDate"
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Type: {{ selectedEvent.type }}</p>
        <p>Attendance: {{ selectedEvent.attendance }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-stroked-button
          color="primary"
          (click)="registerEvent(selectedEvent)"
          [hidden]="selectedEvent.registered"
        >
          Register
        </button>
        <button
          mat-stroked-button
          color="primary"
          (click)="unregisterEvent(selectedEvent)"
          [hidden]="!selectedEvent.registered"
        >
          Unregister
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
</div>
