<div class="container mx-auto px-4 py-8">
  <h2
    class="tw-py-5 tw-px-6 tw-text-2xl tw-font-bold tw-leading-7 tw-text-gray-900 sm:tw-truncate sm:tw-text-3xl sm:tw-tracking-tight"
  >
    Job Opportunities
  </h2>
  <p
    class="tw-px-6 tw-mt-1 tw-truncate tw-text-xs tw-leading-5 tw-text-gray-500"
  >
    Select a job below to view more
  </p>
  <div class="flex row tw-px-6">
    <mat-form-field>
      <mat-label>Filter job title</mat-label>
      <input matInput (change)="filterJobs($event)" />
    </mat-form-field>
    <mat-label class="px-3 tw-mt-1 tw-truncate tw-leading-5 tw-text-gray-500"
      >Sort by:</mat-label
    >
    <div class="px-3">
      <mat-button-toggle-group name="sortJobs">
        <mat-button-toggle value="title">Title</mat-button-toggle>
        <mat-button-toggle value="company">Company</mat-button-toggle>
        <mat-button-toggle value="type">Type</mat-button-toggle>
        <mat-button-toggle value="applications">Applications</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-list class="col">
      <div class="tw-divide-y tw-divide-gray-100">
        @for (job of jobOpportunities$ | async; track job) {
        <mat-list-item class="py-5" (click)="selectJob(job)">
          <div class="tw-flex tw-justify-between tw-cursor-pointer">
            <div class="flex min-w-0 gap-x-4">
              <div class="tw-min-w-0 tw-flex-auto">
                <p
                  class="tw-text-sm tw-font-semibold tw-leading-6 tw-text-gray-900"
                >
                  {{ job.title }}
                </p>
                <p
                  class="tw-mt-1 tw-truncate tw-text-xs tw-leading-5 tw-text-gray-500"
                >
                  {{ job.company }}
                </p>
              </div>
            </div>
            <div
              class="tw-hidden tw-shrink-0 sm:tw-flex sm:tw-flex-col sm:tw-items-end"
            >
              <p class="tw-text-sm tw-leading-6 tw-text-gray-900">
                {{ job.type }}
              </p>
              <p class="tw-mt-1 tw-text-xs tw-leading-5 tw-text-gray-500">
                Applications: {{ job.applications }}
              </p>
            </div>
          </div>
        </mat-list-item>
        }
      </div>
    </mat-list>
    @if (selectedJob) {
    <mat-card class="col-6">
      <mat-card-header>
        <mat-card-title>{{ selectedJob.title }}</mat-card-title>
        <mat-card-subtitle>{{ selectedJob.company }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Type: {{ selectedJob.type }}</p>
        <p>Location: {{ selectedJob.location }}</p>
        <p>Applications: {{ selectedJob.applications }}</p>
        <p>
          Application Deadline:
          {{ selectedJob.application_deadline | date : "mediumDate" }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">Apply</button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
</div>
